<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accenture IA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>Rete Neurale NPL</h1>
    <h2>Sentiment analysis con la classificazione binaria</h2> 

    <div id="dinamica">
        <textarea name="TA" id="TA" cols="30" rows="10" placeholder="Inserisci il Testo"></textarea>
    </div>
    <div id="bottoni">
        <input type="button" value="Pulizia Testo" id="puliziaT" onclick="ajax()">
        <input type="button" value="Lemming" id="lemming" onclick="ajax()">
        <input type="button" value="Tokenization" id="tokenization" onclick="ajax()">
    </div>
</body>
</html>